<!-- Common Header Fragment -->
<div class="header-section" th:fragment="navbar">
  
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand mb-0 h1">
        <img src="/img/Logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Millionair's Joint
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" style="color:black">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/houses/" style="color:black">Houses</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="#" style="color:black">Account</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <form action="#" th:action="@{search/{searchTerm}}" method="get">

            <input class="form-control me-2" type="text" placeholder="Search" aria-label="Search">

            <button class="btn btn-dark" type="submit">Search</button>
          </form>
        </form>
      </div>
    </div>
  </nav>

</div>